<div class="menu">
    <div class="links actions">
        <button type="button" class="btn btn-link" @click="screenOn">Turn on screen</button>
        <button type="button" class="btn btn-link" @click="screenOff">Turn off screen</button>
        <!--<button type="button" class="btn btn-link" @click="">News</button>-->
        <!--<button type="button" class="btn btn-link" @click="">Forge</button>-->
        <!--<button type="button" class="btn btn-link" @click="">GitHub</button>-->
    </div>
</div>
